<!DOCTYPE html>
<html>
<head>
  <title> After Login</title>
  <style type="text/css">
  
  body{

    background-color: #FFDAB9;
    margin: auto;

  }
  h1{
    font-family: algerian;
    font-weight: bold;
    padding-top: 20px;
  }

  .container{
    margin: 0px auto;
    margin-top: 100px;
    width: 500px;
    height: 400px;
    background-color: #000;
    border-radius: 5px;
    opacity: .7;
    text-align: center;
    background-color: #87CEEB;
  }

  .field{
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 20px 100px 20px 100px;
    border-color: black;
    font-weight: bold;
    text-orientation: bold;

  }
  .actions{
    border: none;
    font-weight: bold;
    border-radius: 5px;

  }

  </style>
</head>

<body>
 <div class="container">
  <h1>SIGN UP OR Log in</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %> 
 </div>

</body>