<%= form_for(manager) do |f| %>
  <% if manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hostel_id %>
    <%= f.text_field :hostel_id %>
  </div>

  <div class="field">
    <%= f.label :manager_name %>
    <%= f.text_field :manager_name %>
  </div>

  <div class="field">
    <%= f.label :manager_address %>
    <%= f.text_field :manager_address %>
  </div>

  <div class="field">
    <%= f.label :manager_phone_no %>
    <%= f.text_field :manager_phone_no %>
  </div>

  <div class="field">
    <%= f.label :Join_date %>
    <%= f.date_select :Join_date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
