<h1>Welcome to your hostel!</h1>
<p><%= link_to "Hostel Table" , hostels_path %></p>
<p><%= link_to "Seat Table" , seats_path %></p>
<p><%= link_to "Manager Table" , managers_path %></p>
<p><%= link_to "Student Table" , hostels_path %></p>
<p><%= link_to "Payment Table" , payments_path %></p>
<p><%= link_to "Visitor Table" , visitors_path %></p>

