<p id="notice"><%= notice %></p>
<style>
	body{
background:powderblue;	
	font-family: lucida grande,tahoma,verdana,arial,sans-serif;
}
body p{
font-size:0.9em;
line-height:1.28em;
}

h1{
	font-size:3em;
	font-family: cooper black;
	margin-left:540px;
}
table{
		background-color: white;
		font-family: arial;
		border:5px solid black;
		margin-left:400px;
		
		padding:50px;
	}
</style>
<h1>Seats</h1>

<table>
  <thead>
    <tr>
      <th>Hostel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seats.each do |seat| %>
      <tr>
        <td><%= seat.hostel %></td>
        <td><%= link_to 'Show', seat %></td>
        <td><%= link_to 'Edit', edit_seat_path(seat) %></td>
        <td><%= link_to 'Destroy', seat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seat', new_seat_path %>
