<p id="notice"><%= notice %></p>
<style>
	body{
  background-color: powderblue; 
  }
  h1 {
    font-family: cooper black;
    text-align:center;
    color:black;
      
  }
  
  p {
    
    margin: 0 100px 20px 100px;
    font-size:1.5em;
    font-weight:bold;
  }
  
  

  input{
    border:3px solid #666;
    font-weight:bold;
  }
  
  
  td{
    height:50px;
    width:100px;
    padding:20px;
    font-weight:bold;
  }
  table{
    background-color: white;
    font-family: arial;
    border:5px solid black;
    margin: auto;
    
    padding:40px;
  }
  
  .button1{
  font-family: Arial;
  font-size:1.3em;
  margin-left: 480px;
  }

  .button2{
  font-family: Arial;
  font-size:1.3em;
  margin-left: 30px;
  
  }

</style>

<h1>Visitors</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Visitor's Name</th>
      <th>Visiting Date</th>
      <th>Relation</th>
      <th>Visitor address</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.student.Student_name %></td>
        <td><%= visitor.Visitor_name %></td>
        <td><%= visitor.Visiting_date %></td>
        <td><%= visitor.Relation %></td>
        <td><%= visitor.Visitor_address %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="buttons1">
        <button class="button1"><%= link_to "Insert New Visitor", new_visitor_path %></button>
        <button class="button2"><%= link_to "Back", after_signin_index_path %></button>
</div>
