<p id="notice"><%= notice %></p>
<style>
	body{
background:powderblue;	
	font-family: lucida grande,tahoma,verdana,arial,sans-serif;
}
body p{
font-size:0.8em;
line-height:1.28em;
}

h1{

	font-family: cooper black;
	margin-left:500px;
}
table{
		background-color: white;
		font-family: arial;
		border:5px solid black;
		margin-left:200px;
		
		padding:50px;
	}
</style>

<h1>Visitors</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Visitor name</th>
      <th>Visiting date</th>
      <th>Relation</th>
      <th>Visitor address</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.student %></td>
        <td><%= visitor.Visitor_name %></td>
        <td><%= visitor.Visiting_date %></td>
        <td><%= visitor.Relation %></td>
        <td><%= visitor.Visitor_address %></td>
        <td><%= link_to 'Show', visitor %></td>
        <td><%= link_to 'Edit', edit_visitor_path(visitor) %></td>
        <td><%= link_to 'Destroy', visitor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visitor', new_visitor_path %>
