<!DOCTYPE html>
<html>
  <head>
  <style>
	
</style>
    <title>Hostel Management</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<% if !user_signed_in? %>
  	<p class="sign_in"><%new_user_session_path %></p>

  	<% end %>

  	<% if user_signed_in? %>
  	   <p class="sign_in"><%home_index_path %></p>
  	<% end %>	

 	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
